In [1]:
import pandas as pd
import numpy as np

In [9]:
people = {
    'first': ['Corey','Jane','John','Chris',np.nan,None,'NA'],
    'last' : ['Schafer','Doe','Doe','Schafer',np.nan,np.nan,'Missing'],
    'email': ['CoreyMSchafer@gmail.com','JaneDoe@email.com','JohnDoe@gmail.com',None,np.nan,'Anonymous@email.com','NA'],
    'age': ['33','55','63','36',None,None,'Missing']
}

In [40]:
df = pd.DataFrame(people)
# Droping string Missing and NA
df.replace('NA',np.nan, inplace=True)
df.replace('Missing',np.nan, inplace=True)

In [41]:
df

   first     last                    email   age
0  Corey  Schafer  CoreyMSchafer@gmail.com    33
1   Jane      Doe        JaneDoe@email.com    55
2   John      Doe        JohnDoe@gmail.com    63
3  Chris  Schafer                     None    36
4    NaN      NaN                      NaN  None
5   None      NaN      Anonymous@email.com  None
6    NaN      NaN                      NaN   NaN

## Drop NA
if missing values are missing too much in (first, last,email,age) drop luon

In [42]:
# drop all np.nan, None (the index 6 is str(NA, Missing)) nen khong drop 
df.dropna()

   first     last                    email age
0  Corey  Schafer  CoreyMSchafer@gmail.com  33
1   Jane      Doe        JaneDoe@email.com  55
2   John      Doe        JohnDoe@gmail.com  63

In [43]:
# axis = 'indes' or 0 xet theo row
# how = 'any' drop np.nan neu co 1 NaN trong row/col
df.dropna(axis='index',how='any')

   first     last                    email age
0  Corey  Schafer  CoreyMSchafer@gmail.com  33
1   Jane      Doe        JaneDoe@email.com  55
2   John      Doe        JohnDoe@gmail.com  63

In [29]:
# xet missing in col ma any chi can 1 Nan la drop
df.dropna(axis='columns',how='any')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6]

In [44]:
# dropping some missing value (drop row in specificed col)
df.dropna(axis='index',how='all',subset=['last','email'])

   first     last                    email   age
0  Corey  Schafer  CoreyMSchafer@gmail.com    33
1   Jane      Doe        JaneDoe@email.com    55
2   John      Doe        JohnDoe@gmail.com    63
3  Chris  Schafer                     None    36
5   None      NaN      Anonymous@email.com  None

In [45]:
# return a mask
df.isna()

   first   last  email    age
0  False  False  False  False
1  False  False  False  False
2  False  False  False  False
3  False  False   True  False
4   True   True   True   True
5   True   True  False   True
6   True   True   True   True

In [46]:
# fill nan
df.fillna('MISSING')

     first     last                    email      age
0    Corey  Schafer  CoreyMSchafer@gmail.com       33
1     Jane      Doe        JaneDoe@email.com       55
2     John      Doe        JohnDoe@gmail.com       63
3    Chris  Schafer                  MISSING       36
4  MISSING  MISSING                  MISSING  MISSING
5  MISSING  MISSING      Anonymous@email.com  MISSING
6  MISSING  MISSING                  MISSING  MISSING

In [47]:
# Casting data type (age col is str)
df.dtypes

first    object
last     object
email    object
age      object
dtype: object

In [48]:
df['age'].mean()

TypeError: can only concatenate str (not "int") to str

In [49]:
# nan is the float
type(np.nan)

float

In [50]:
# so must convert col with nan to float
df['age'] = df['age'].astype(int)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'NoneType'

In [51]:
df['age'] = df['age'].astype(float)

In [ ]:
df.dt